<!-- <form>
    <input placeholder="Title">
    <button (click)="AddTodo()"></button>
</form> -->

<button type="button" class="btn btn-secondary">Single Button</button>

<div class="btn-group">
  <label class="btn btn-primary" btnCheckbox tabindex="0" role="button"
    >Left</label
  >
  <label class="btn btn-primary" btnCheckbox tabindex="0" role="button"
    >Middle</label
  >
  <label class="btn btn-primary" btnCheckbox tabindex="0" role="button"
    >Right</label
  >
</div>
<div *ngFor="let todo of data">
  <h3>{{ todo.title }}</h3>
</div>

<accordion>
  <accordion-group heading="Static Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
</accordion>
